@{
    ViewBag.Title = "Home Page";
}

<h2><b>HELLO HELLO!!! BEM VINDO À MINHA LOJINHA DE GAMES \(^W^)/</b></h2>
<br/>
<br/>
<br/>
<br/>
<h3>AQUI VOCÊ PODE CADASTRAR FUNCIONÁRIOS, JOGUINHOS E ATÉ CLIENTES!!! \(°O°)/</h3>